.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.md
!README.md
tmp*
.DS_Store
garbage
quellen
drafting
R
beschreibung/*.out
beschreibung/*.toc
beschreibung/technologiewahl_beschreibung.tex
deploy_app.R
rsconnect